<img src="<%= @image.image_url %>">

<%= :flash %>

<p><%= @image.key_words %></p>

<%= link_to "back", root_path  %>
<%= link_to "edit", edit_image_path  %>
<%= link_to "remove",image_path, method: :delete, data: { confirm: "Remove image?" } %>
