<div class="container">
    <img src="<%= @image.image_url %>">
</div>

<div class="container keyword">
    <%= @image.key_word %>
</div>


<div class="container plus">
    <%= link_to '+', new_image_comment_path(@image.id) %>
</div>

<div class="container">
    <ul class="nav navbar-nav navbar-left show-nav">
        <li>
            <%= link_to 'back', images_path  %>
        </li>
        <li>
            <%= link_to 'edit', edit_image_path  %>
        </li>

        <li>
            <%= link_to 'remove',image_path, method: :delete, data: { confirm: "Remove image?" } %>
        </li>
    </ul>
</div>

<div class="container">

    <% @comments.each do |comment| %>
        <h2><img src="<%=  comment.photo_url %>"></h2>
        <%= link_to like_comment_path( comment) , method: :put, data: {notice: "vote confirmed!"}, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-chevron-up"><%= comment.get_upvotes.size  %></span>
                <% end %>
            <%= link_to image_comment_path(@image, comment) , method: :delete, data: { confirm: "Remove image?" }, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-remove">
                    <% end %>
    <% end %>
</div>
