<img src="<%= @image.image_url %>">

<%= :flash %>

<div class="container"><%= @image.key_word %></div>

<%= link_to "back", root_path  %>
<%= link_to "edit", edit_image_path  %>
<%= link_to "remove",image_path, method: :delete, data: { confirm: "Remove image?" } %>
