<!DOCTYPE html>
<html>
<head>
  <title>Mum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>mum</h1>

    <div><%= flash[:notice]  %></div>
<%= yield %>
<h3><%= link_to 'sign in', user_session_path %></h3>
<h3><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></h3>
</body>
</html>
